# Virtual environments
venv/
.env/
.venv/

# Python cache and artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter notebook checkpoints
*.ipynb_checkpoints

# Streamlit and Scrapy cache/settings
.streamlit/
*.log
scrapy.cfg

# OS-specific files
.DS_Store
Thumbs.db

# Misc
*.log
*.sqlite
